name: Unit Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main, develop]

jobs:
  unit_test:
    name: unit_test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: |
          git apply tests/0001-diff-go-ethereum.patch
          git apply tests/fix_unit_test.patch
          make test
